body
{
    overflow: hidden;
}

.radio-container
{
    display: inline-block;
    position: relative;
    width: 60px;
    cursor: pointer;
    z-index: 999;
    margin-bottom: 38px;
}

.radio-container input[type="radio"]
{
    position: absolute;
    opacity: 0;
}

.radio-container .gender-radio
{
    position: absolute;
    top: 0;
    left: 0;
    background-color: #efefef;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 30px;
    font-family: Roboto;
    color: #787878;
    border-radius: 6px;
}

.radio-container input:checked ~ .gender-radio
{
    background: orange;
    color: #fff;
}


.post-options_block
{
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    justify-content: center;
}


._modal_group
{
    width: 100%;
    height: 100%;
    background-color: rgba(21, 21, 31, 0.96);
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 100000;
    transition: opacity 0.3s ease-in-out 0s, visibility 0.3s ease-in-out 0s;
    display: flex;
    align-items: center;
    justify-content: center;
}


.login_modal,
.sign_up_modal
{
    position: absolute;
    z-index: 100001;
    transition: transform 0.3s ease-in-out 0s, opacity 0.3s ease-in-out 0s, visibility 0.3s ease-in-out 0s;
    margin: 0!important;
}


.login_sign_up_style
{
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    justify-content: center!important;
    background-color: #1a1d26;
    box-shadow: 3px 5px 20px 0 rgba(0,0,0,.1);
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    width: 160px; height: 44px;
    border-radius: 12px;
    cursor: pointer;
    transition: box-shadow .2s ease-in-out,background-color .2s ease-in-out;
    padding: 18px;
}

.log_sin
{
    background: #1a1d26;
    justify-content: center!important;
    box-shadow: 3px 5px 20px 0 rgba(0,0,0,.1);
    margin: 10px auto;
}

.login_sign_up_style:hover,
.post-option:hover
{
    background: #40d04f;
}


.errors_p
{
    padding: 0 10px 20px;
}

.error_global,
.group_title_language,
.add_tage_show

{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 15px;
}


.group_add_tag .add_tag,
.group_title_language
{
    padding: 0 15px 15px;
}

.post_title_parent
{
    width: 78%;
}

.tag_url_parent
{
    width: 50%;
}

.tag_title_parent
{
    width: 48%;
    margin-left: 2%;
}

.post_language_parent
{
    width: 20%;
    margin-left: 2%;
}

.language_svg
{
    right: 15%!important;
}


.svg_error
{
    width: 38px;
    height: 38px;
}

.notification_error
{
    height: 16%;
    width: 16%;
    right: 5px;
    bottom: 5px;
    position: fixed;
    background: #1d2333;
    z-index: 100000;
}

.notification_error h4
{
    margin-left: 5%;
}

.notifi
{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 15px;
}

.notifi_div
{
    background: #2d3549;
    height: 5px;
}

.notifi_p
{
    width: 100%;
    height: 5px;
    background: #dd0000;
}


.post-images
{
    display: flex;
    flex-wrap: wrap;
    min-height: 0;
    padding: 10px 20px;
    border-top: 1px solid #2f3749;
}

.post-images .img
{
    width: 100px;
    height: 100px;
    background-position: center;
    background-size: cover;
    margin: 10px;
    border-radius: 25px;
    padding: 10px 20px;
    border: 1px solid #7750f8;
}

.post_photo_remove
{
    cursor: pointer;
}


/* notification */


.notification {
    position: absolute;
    left: 20px;
    bottom: 20px;
    top: auto;
    right: auto;
}

.notification p {
    margin: 0;
    padding: 0;
}
.notification .btn {
    padding: 16px 20px;
    border-radius: 5px;
    display: flex;
    margin-bottom: 10px;
    font-size: 12px;
    align-items: center;
    animation: fadeIn .4s ease-in;
}
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
.notification .btn::before {
    margin-right: 12px;
    font-family: 'fontawesome';
    font-size: 15px;
}
.notification span {
    margin-left: 10px;
    cursor: pointer;
    flex: 1;
    text-align: right;
}

.notification .error {
    background-color: #ECC8C5;
    border: 1px solid #BD8181;
}
.notification .error span {
    color: #C79995;
}
.notification .error::before {
    content: '\f05c';
    color: #B2312F;

}
.notification .success {
    background-color: #DEF2D6;
    border: 1px solid #B3CEA9;
}
.notification .success span {
    color: #AFC7A7;
}
.notification .success::before {
    content: '\f00c';
    color: #5A7052;
}

/* notification styles end */


/* countdown */
.countdown {
    font-size: 2.5rem;
    /*margin-top: 20px;*/
}
/* countdown styles end */



.sunduk
{
    background: #1d2333;
    color: #45f3ff;
    height: 200px;
    text-align: center;
    line-height: 60px;
    font-size: 24px;
    cursor: pointer;
    transition: .5s;
    padding: 32px 28px;
    border-radius: 12px;
    background-color: #1d2333;
    box-shadow: 0 0 40px 0 rgba(0,0,0,.06);
    position: relative;
}

.sunduk p
{
    font-size: 100px;
    color: #45f3ff;
}

.countdown
{
    font-size: 24px !important;
    color: #45f3ff !important;
}
